In [13]:
import pandas as pd
from requests import get
import sqlite3
import datetime

days = 1
today = datetime.datetime.today()
nextday = today + datetime.timedelta(days=days)
today = today.strftime('%Y-%m-%d')
nextday = nextday.strftime('%Y-%m-%d')

class Querys:


    def getQuery(self, endpoint):
        BASE_URL = "https://seffaflik.epias.com.tr/transparency/service/"
        url = BASE_URL + endpoint
        response_data = get(url).json()
        return response_data

 

    def getDate(self, endDate, startDate):
        endpoint = f"market/day-ahead-mcp?endDate={endDate}&startDate={startDate}"
        response_data = self.getQuery(endpoint)
        df = pd.DataFrame.from_dict(response_data['body']['dayAheadMCPList'])
        df['date'] = pd.to_datetime(df['date'])
        df['hours'] = df.date.dt.hour
        
        return df



 
qry = Querys()

df = qry.getDate(nextday, today)

print(df)

                        date    price  priceUsd  priceEur  hours
0  2023-04-22 00:00:00+03:00  1658.01     85.55     78.16      0
1  2023-04-22 01:00:00+03:00  1246.44     64.31     58.76      1
2  2023-04-22 02:00:00+03:00   990.01     51.08     46.67      2
3  2023-04-22 03:00:00+03:00   500.00     25.80     23.57      3
4  2023-04-22 04:00:00+03:00  1200.01     61.92     56.57      4
5  2023-04-22 05:00:00+03:00  1000.00     51.60     47.14      5
6  2023-04-22 06:00:00+03:00  1200.00     61.92     56.57      6
7  2023-04-22 07:00:00+03:00   250.00     12.90     11.79      7
8  2023-04-22 08:00:00+03:00    28.23      1.46      1.33      8
9  2023-04-22 09:00:00+03:00    15.01      0.77      0.71      9
10 2023-04-22 10:00:00+03:00    24.19      1.25      1.14     10
11 2023-04-22 11:00:00+03:00    25.00      1.29      1.18     11
12 2023-04-22 12:00:00+03:00    20.28      1.05      0.96     12
13 2023-04-22 13:00:00+03:00    24.99      1.29      1.18     13
14 2023-04-22 14:00:00+03:00    24.99      1.29      1.18     14
15 2023-04-22 15:00:00+03:00    50.00      2.58      2.36     15
16 2023-04-22 16:00:00+03:00   200.00     10.32      9.43     16
17 2023-04-22 17:00:00+03:00   750.00     38.70     35.36     17
18 2023-04-22 18:00:00+03:00  1246.44     64.31     58.76     18
19 2023-04-22 19:00:00+03:00  1699.99     87.72     80.14     19
20 2023-04-22 20:00:00+03:00  1997.99    103.09     94.19     20
21 2023-04-22 21:00:00+03:00  1700.00     87.72     80.14     21
22 2023-04-22 22:00:00+03:00   954.43     49.25     44.99     22
23 2023-04-22 23:00:00+03:00   500.01     25.80     23.57     23
24 2023-04-23 00:00:00+03:00   982.41     50.69     46.31      0
25 2023-04-23 01:00:00+03:00   499.99     25.80     23.57      1
26 2023-04-23 02:00:00+03:00   152.00      7.84      7.17      2
27 2023-04-23 03:00:00+03:00   102.01      5.26      4.81      3
28 2023-04-23 04:00:00+03:00   120.00      6.19      5.66      4
29 2023-04-23 05:00:00+03:00   102.00      5.26      4.81      5
30 2023-04-23 06:00:00+03:00   102.00      5.26      4.81      6
31 2023-04-23 07:00:00+03:00    10.01      0.52      0.47      7
32 2023-04-23 08:00:00+03:00    10.00      0.52      0.47      8
33 2023-04-23 09:00:00+03:00    10.00      0.52      0.47      9
34 2023-04-23 10:00:00+03:00    10.00      0.52      0.47     10
35 2023-04-23 11:00:00+03:00    10.00      0.52      0.47     11
36 2023-04-23 12:00:00+03:00    10.00      0.52      0.47     12
37 2023-04-23 13:00:00+03:00    10.01      0.52      0.47     13
38 2023-04-23 14:00:00+03:00    10.01      0.52      0.47     14
39 2023-04-23 15:00:00+03:00    20.01      1.03      0.94     15
40 2023-04-23 16:00:00+03:00    53.00      2.73      2.50     16
41 2023-04-23 17:00:00+03:00   500.00     25.80     23.57     17
42 2023-04-23 18:00:00+03:00  1000.00     51.60     47.14     18
43 2023-04-23 19:00:00+03:00  1680.00     86.68     79.20     19
44 2023-04-23 20:00:00+03:00  1779.99     91.84     83.91     20
45 2023-04-23 21:00:00+03:00  1692.99     87.35     79.81     21
46 2023-04-23 22:00:00+03:00  1198.01     61.81     56.48     22
47 2023-04-23 23:00:00+03:00  1000.01     51.60     47.14     23

In [9]:
df.head()

                       date   price  priceUsd  priceEur  hours
0 2021-01-01 00:00:00+03:00  263.99     35.96     29.31      0
1 2021-01-01 01:00:00+03:00  236.99     32.29     26.31      1
2 2021-01-01 02:00:00+03:00  216.70     29.52     24.06      2
3 2021-01-01 03:00:00+03:00  218.07     29.71     24.21      3
4 2021-01-01 04:00:00+03:00  208.99     28.47     23.20      4

In [11]:
import sqlite3

conn = sqlite3.connect('epias.db')


df.to_sql('epias', conn, if_exists='replace', index=False)

conn.close()